* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #050510;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.start-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arcade-container {
  position: relative;
  width: min(1100px, 96vw);
}

.arcade-cabinet {
  width: 100%;
  display: block;
}

.game-screen {
  position: absolute;

  left: 26%;
  top: 26%;

  width: 48%;
  height: 40%;

  background: black;
  border-radius: 20px;
  overflow: hidden;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #050510;
}

.arcade-btn {
  position: absolute;
  padding: 12px 20px;

  border: 2px solid #00f5ff;
  border-radius: 999px;

  background: rgba(5,5,16,.9);
  color: white;

  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 0 20px rgba(0,245,255,.8);
}

.start-btn {
  left: 40%;
  bottom: 12%;
  transform: translateX(-50%);
}

.enter-btn {
  left: 60%;
  bottom: 12%;
  transform: translateX(-50%);
}
